@font-face {
  font-family: terminal;
  src: url("terminal-grotesque-webfont.woff") format("woff");
}
body {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
nav {
  margin:50px;
}
a{
  text-align: left;
  justify-content: left;
  display: flex;
  justify-content: space-between;
  font-family: terminal;
  font-size: 64px;
  color: white;
  text-decoration: none;
  padding-left:15px;
  padding-right:15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

a:hover {
  color: #12fc35;
  transition: .1s ease-in-out;
}

a.credits {
  justify-content: center;
  border: dashed 0.6px;
  text-decoration: none;
  font-family: terminal;
  line-height: 25px;
  z-index: 99;
  font-size: 24px;
}
div{
  text-decoration: none;
  font-family: terminal;
  line-height: 25px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  border: dashed 0.6px;
  color: white;
  padding: 10px;
  font-size: 18px;
}
div.credits{
  border: none;
  padding:0;
}
.titre {
  max-width: 200px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  font-size:24px;
  border:none;
  color: #12fc35;
}
