@font-face {
  font-family: terminal;
  src: url("data/terminal-grotesque-webfont.woff") format("woff");
}

body{
  margin:0;
}

div.description {
  color: #white;
  text-shadow: 0 0 4px #00000075;
  z-index: 3;
  font-family: terminal;
  font-size: 22px;
  text-align: left;
  justify-content: left;
  padding:10px;
  margin:50px;
  box-shadow: 0 0 24px #00000075;
  background-color: #ffffff25;
}

h2{
  font-family: terminal;
  padding: 15px;
  text-align: left;
  justify-content: left;
  font-size: 140px;
  color:white;
  margin:50px;
  box-shadow: 0 0 24px #00000075;
  -webkit-text-stroke: 0.15px black;
  word-wrap: break-word;
  background-color: #ffffff25;
}

a.back {
  text-decoration: none;
  font-family: terminal;
  line-height: 15px;
  font-size: 30px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 99;
  border: solid 0.6px;
  -webkit-text-stroke: 0.2px blue;
  color: #12fc35;
  cursor: pointer;
  padding: 10px;
  font-size: 28px;
  box-shadow: 0 0 24px #00000075;
  /* background-color: blue; */
}

a.watch {
  text-decoration: none;
  font-family: terminal;
  line-height: 15px;
  font-size: 30px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  border: dashed 0.6px;
  color: #12fc35;
  cursor: pointer;
  padding: 10px;
  font-size: 28px;
  box-shadow: 0 0 24px #00000075;
  background-color: #ffffff25;
  /* background-color: #12fc35; */
}

.popup {
  visibility: hidden;

  position: absolute;
  z-index: 41;
  position: fixed;
  bottom: 50px;
  right: 50px;
  margin-bottom: 50px;
}

video {
  box-shadow: 0 0 24px #00000075;
  border: dashed 0.6px;
  color: #12fc35;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}



@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
